.ResultInfo{
	margin-left: 2%;
	float: left;
	display: inline;
}

.Result{
	float: left;
}

.FindrDiv{
	float:left ;
	width: 50%;
	padding: 1% 1% 0% 1%;
}

.ResultDiv{
	float: left;
	width: 50%;
	padding: 1% 0% 0% 1%;
}
